@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

::selection {
  @apply bg-red-500 bg-opacity-80 text-gray-100;
}

.prose {
  a {
    padding: 0 1px;
    text-decoration: none;

    &::after {
      @apply bg-red-300 dark:bg-red-500;
      content: '';
      position: absolute;
      z-index: -1;
      top: 65%;
      left: 0;
      right: 0;
      bottom: 0;
      transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1), background-color 200ms;
    }

    &:hover {
      &::after {
        top: 0;
      }
    }
  }

  pre {
    @apply rounded-none sm:rounded-md -mx-4 md:-mx-8;
  }

  .remark-code-title + pre,
  &-lg .remark-code-title + pre {
    @apply mt-0 rounded-none sm:rounded-b-md sm:rounded-t-none;
  }
}

.remark-code-title {
  @apply bg-gray-700 px-6 py-3 text-gray-200 text-base font-mono font-medium sm:rounded-t-md -mx-4 md:-mx-8;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-300;
}

.token.punctuation {
  @apply text-gray-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-red-400;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-400;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}
