---
import Layout from '../layouts/Default.astro'
---

<Layout title="404 - Nicklas Jarnesjö">
  <h1 class="text-5xl tracking-tight font-bold py-12 md:py-16">404</h1>
  <div class="text-center">
    <p>Page not found...</p>
  </div>
</Layout>
