---
import Layout from '../layouts/Default.astro'
---

<Layout title="404 - Nicklas Jarnesjö">
  <div class="py-16 md:py-24 text-center">
    <h1 class="text-7xl md:text-9xl tracking-tight font-bold js-darkmode-flicker" data-flicker-chars="1">404</h1>
    <p class="text-xl md:text-2xl text-gray-500 dark:text-gray-400 mt-6">
      Nothing here. Maybe there was, maybe there wasn't.
    </p>
    <p class="text-gray-400 dark:text-gray-500 mt-2">
      Either way, this page doesn't exist.
    </p>
    <div class="mt-10 space-x-6 text-lg">
      <a href="/" class="text-red-600 dark:text-red-500 font-semibold hover:underline">Home</a>
      <a href="/writing" class="text-red-600 dark:text-red-500 font-semibold hover:underline">Writing</a>
    </div>
  </div>
</Layout>
