@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

::selection {
  @apply bg-red-500 bg-opacity-80 text-gray-100;
}

.prose {
  a {
    padding: 0 1px;
    text-decoration: none;

    &::after {
      @apply bg-red-300 dark:bg-red-800;
      content: '';
      position: absolute;
      z-index: -1;
      top: 65%;
      left: 0;
      right: 0;
      bottom: 0;
      transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1), background-color 200ms;
    }

    &:hover {
      &::after {
        top: 0;
      }
    }
  }

  pre {
    @apply rounded-none sm:rounded-md -mx-4 md:-mx-8;
  }

  .remark-code-title + pre,
  &-lg .remark-code-title + pre {
    @apply mt-0 rounded-none sm:rounded-b-md sm:rounded-t-none;
  }
}

.remark-code-title {
  @apply bg-gray-700 px-6 py-3 text-gray-200 text-base font-mono font-medium sm:rounded-t-md -mx-4 md:-mx-8;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-300;
}

.token.punctuation {
  @apply text-gray-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-red-400;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-400;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

/* ============== */
/* DARK MODE NEON */
/* ============== */
.dark {
  .flicker {
    animation: flicker 3s linear 0.6s forwards alternate infinite;

    &:nth-child(even) {
      animation-delay: 0.3s;
      animation-direction: alternate-reverse;
    }
  }

  .tipping {
    display: inline-block;
    animation: tipping 0.5s ease-in 0.5s forwards;
  }

  .word-no-wrap {
    white-space: nowrap;
  }

  h1,
  .neon:hover {
    color: #f4f4f5;
    text-shadow: 0 0 0.033em #f4f4f5, 0 0 0.08em #f4f4f5, 0 0 0.1em #b91c1c, 0 0 0.2em #b91c1c,
      0 0 0.3em #b91c1c, 0 0 1em #b91c1c, 0 0 1.5em #b91c1c;
    transition: text-shadow 200ms, color 200ms;
  }

  h1 {
    transition: text-shadow 1s, color 200ms, rotate 200ms;
  }
}

/* =========== */
/* ANIMATIONS */
/* =========== */
@keyframes tipping {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  85% {
    transform: translate(0, 1px) rotate(5deg);
  }
  100% {
    transform: translate(2px, 5px) rotate(15deg);
  }
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  72%,
  100% {
    opacity: 1;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  71.999% {
    opacity: 0.33;
  }
}

/* if the user prefers reduced motion, */
/* disable the animation entirely. */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }
}
